.garden {
            width: 96px;
        }
        
.cell {
    width: 15px;
    height: 15px;
    margin-right: 2px;
    margin-bottom:2px;
    background: rgb(139,181,36);
    float:left;
    display:inline-block;
}

.plant {
  width: 80%;
  height:80%;
  padding: 0 8%;
  /*height: 50px;*/
  /*position: absolute;*/
  /*background-color: red;*/
}

body {
  padding: 0px;
  margin: 0px;
  background: rgb(105,44,15);
}